@import url("./style.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./navbar.css");
@import url("./singlePost.css");
@import url("./postGrid.css");
@import url("./loader.css");
