.mobile-navbar {
  position: fixed;
  bottom: 10px;
  left: 5px;
  right: 5px;
  z-index: 1000;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem 1rem;
  border-radius: 10px;

  background: linear-gradient(to bottom, var(--background) 0%, #252525 100%);

  background: linear-gradient(
    to bottom,
    rgba(32, 32, 32, 0.85) 0%,
    rgba(37, 37, 37, 0.85) 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.navbar-item {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item-center {
  flex: 1.2;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.navbar-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.navbar-item-center .navbar-icon {
  width: 28px;
  height: 28px;
}

.navbar-item-active .navbar-link {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.08) 50%,
    rgba(255, 255, 255, 0.02) 100%
  );
  animation: fadeInBackground 0.3s ease;
}

.navbar-item-active .navbar-icon {
  opacity: 1;
}

@keyframes fadeInBackground {
  from {
    background: transparent;
  }
  to {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0.08) 50%,
      rgba(255, 255, 255, 0.02) 100%
    );
  }
}

@media (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }
}
