:root {
  --background: #202020;
  --backgroundLight: oklch(94.912% 0.00011 271.152);
  --primary: oklch(34.846% 0.00004 271.152);
  --primaryHover: oklch(44.846% 0.00004 271.152);
  --accent: oklch(86.535% 0.14758 204.054 / 0.596);
  --error: oklch(65.91% 0.249 13.76);
  --white: #fff;
  --text: var(--white);
  --textTitle: var(--text);
  --textBody: color-mix(in lab, var(--text) 80%, transparent);
  --textLight: color-mix(in lab, var(--text) 60%, transparent);
  --font-family: Gotham, system-ui, -apple-system, BlinkMacSystemFont,
    "San Francisco", Roboto, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --overlay-light: rgba(255, 255, 255, 0.05);
  --overlay-medium: rgba(255, 255, 255, 0.1);
  --overlay-strong: rgba(255, 255, 255, 0.2);
  --gray-light: #888;
  --gray-medium: #e0e0e0;
  --surface-elevated: #222;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--textBody);
  font-family: var(--font-family);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 100px;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 80px;
  }
}
